/* .container:first-child {
  position: relative;
  width: 100vw;
  height: 699vh;
  background: red;
  background: linear-gradient(to left, red, orange); 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
} */


img[style*="float:left"] {
  margin: 0px 15px 0px 0px;
}
img[style*="float:right"] {
  margin: 0px 0px 0px 15px;
}
    
.title,h2{color:#668599}


.footer 
{
    background-color:#E8F1FB;
  height: 57vh;
  /* clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%); */
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);

}
.main-menu 
{
/* https://codepen.io/stevenkuipers/pen/VGjzXo */
    background-color:#E8F1FB;
  /* position: relative; */
  /* width: 100vw; */
  height: 20vh;
  /* background: linear-gradient(to left, red, orange);  */
  /* clip-path: polygon(0 0, 100% 0, 100% 22vh, 0 100%); */
  /* clip-path: polygon(100% 23%, 0 0, 0 45%); */
clip-path: polygon(0 0, 100% 0, 100% 24%, 0% 100%);
 /* clip-path: polygon(0 24%, 0 76%, 100% 52%) */
 /* clip-path: polygon(0 0, 100% 10vh, 100% 10vh, 0 100%); */
}
.title,h1{color:#003d66}
.sidebar
{
  background-color:#E8F1FB;
}