/* .container:first-child {
  position: relative;
  width: 100vw;
  height: 699vh;
  background: red;
  background: linear-gradient(to left, red, orange); 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
} */


img[style*="float:left"] {
  margin: 0px 15px 0px 0px;
}
img[style*="float:right"] {
  margin: 0px 0px 0px 15px;
}
    
.title,h2{color:#668599}

.main-menu 
{
  background-color:#E8F1FB;
  min-height: 100px;
  height: 7vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
}
.footer 
{
    background-color:#E8F1FB;
    min-height: 340px;
    height: 40vh;
  /* clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%); */
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
}
.title,h1{color:#003d66}
.sidebar
{
  background-color:#E8F1FB;
}